body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 25px;
    border-radius: 5px;
}

.container h1 {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    color: #4CAF50;
    z-index: 100;
    padding: 5px 0px;
}

.cdn {
    display: block;
    max-width: 80%;
    padding: 10px;
    font-size: 18px;
    overflow-x: auto;
    background-color: #4CAF50; /* Matching the button's background color */
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}

.cdn:hover {
    background-color: #45a049; /* Adjusted hover color to match the button's hover color */
}
@media only screen and (max-width: 600px) {
  .cdn{
    max-width: 100%;
  }
}

code {
    white-space: pre-wrap;
}

.copy-btn {
    display: inline-block;
    cursor: pointer;
    padding: 15px 15px;
    margin-top: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.7s ease;
}

.copy-btn:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}

.iconyo {
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');
.hola {
  font-family: 'Whisper', cursive;
  text-align: center;
}